input.normal,textarea.normal {
	display: block;
	width: 350px;
	float: left;
	margin-bottom: 10px;
}


label {
	display: block;
	float: left;
	margin-bottom: 10px;
	text-align: right;
	width: 100px;
	padding-right: 10px;
}

br {
	clear: left;
}

a.button {
  color: rgb(121, 145, 179);
  text-decoration: none;
  vertical-align: baseline;
  width: 37px;
}

a.button:hover {
  background-color:#3274D0;
  color:#FFFFFF;
  text-decoration:none;
}