input.normal,textarea.normal {
	display: block;
	width: 350px;
	font-size:13px;
	padding: 5px;
	float: left;
	margin-bottom: 10px;
	border-style:solid;
    border-width:1px;
    border-color:#DFDFDF;
    
}
label {
	display: block;
	float: left;
	margin-bottom: 10px;
	text-align: right;
	width: 100px;
	padding-right: 10px;
}

br {
	clear: left;
}

.button {
  color: rgb(121, 145, 179);
  text-decoration: none;
  vertical-align: baseline;
}

.button:hover {
  background-color:#3274D0;
  color:#FFFFFF;
  text-decoration:none;
}

submit.button {
  border: none;
}
