
input.text,textarea.text {
	display: block;
	width: 350px;
	font-size:13px;
	padding: 0.5em;
	float: left;
	margin-bottom: 10px;
    
}

label {
	display: block;
	float: left;
	margin-bottom: 10px;
	text-align: right;
	width: 100px;
	padding-right: 10px;
}

br {
	clear: left;
}

.button {
  color: rgb(121, 145, 179);
  text-decoration: none;
  vertical-align: baseline;
}

.button:hover {
  background-color:#3274D0;
  color:#FFFFFF;
  text-decoration:none;
}

submit.button {
  border: none;
}

body {font:12px/17px Arial, Helvetica, sans-serif; color:#333}
fieldset {padding:10px; border:1px solid #ccc; width:600px;}
fieldset.action {background:#9da2a6; border-color:#e5e5e5 #797c80 #797c80 #e5e5e5; margin-top:-20px;}
legend {padding:5px;}

label {font-size:11px; font-weight:bold; color:#666;}

#header {

}

#content {
	padding-top: 36px;
	
}
